.projectCard {
    background-color: var(--dark-accent);
    padding: 2rem 2rem 1rem;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.projectCard:hover {
    transform: translateY(-5px);
}

.projectImage {
    height: 200px;
    overflow: hidden;
}

.projectImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.projectCard:hover .projectImage img {
    transform: scale(1.05);
}

.projectContent {
    padding: 0 2rem;
    margin-bottom: 1.5rem;
}

.projectContent h3 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}

.projectTitle {
    margin-bottom: 0.5rem;
}

.projectSubtitle {
    color: var(--light-background);
    margin: 0 0 0.5rem 0;
}

.projectRole {
    color: var(--primary-accent);
    margin: 0;
    font-size: 0.9rem;
}

.projectTechnologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.projectLinks {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.projectLink {
    color: var(--primary-accent);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding-right: 1.5rem;
}

.projectLink::after {
    content: '→';
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
}

.projectCard:hover .projectLink::after {
    transform: translateX(5px);
}