.labelWrapper {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-accent);
    font-family: var(--font-mona-sans);
}

.text {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: var(--font-mona-sans);
}