.navigation {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        display: none;
    }
}

.navigationTitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--light-background);
    position: relative;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navigationList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigationItem {
    margin-right: 3rem;
    text-transform: uppercase;
}

.navigationItem a {
    font-weight: 700;
    text-decoration: none;
    color: var(--light-background);
    display: flex;
    align-items: center;
}

.navigationItem a:hover {
    color: var(--primary-accent);
}

.navigationItem:last-child {
    margin-right: 0;
}

.navigationItem svg {
    width: 24px;
    height: 24px;
    transition: color 0.3s ease;
}

.navigationItem:hover svg {
    color: var(--primary-accent);
}

.navigationItem:nth-last-child(-n+2) {
    margin-right: 0.5rem;
}