/* Projects Section Styles */
.projectsSection {
    width: 100%;
    text-align: center;
}

.projectsSection h2,
.projectsSection h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.projectsGrid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    text-decoration: none;
}

.projectImage {
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}