.techTag {
    background-color: var(--dark-accent);
    height: var(--tech-tag-height);
    display: flex;
    align-items: center;
    width: 100%;
}

.techTagList {
    width: 100%;
    list-style: none;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.techTagListItem {
    color: rgba(255, 255, 255, 0.35);
    font-weight: 300;
    font-family: var(--font-mona-sans), sans-serif;
}