.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.projectSidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--dark-accent);
  max-width: 320px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.projectContent {
  padding: 0 1rem;
  flex: 1;
}

.projectImage {
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 80px;
}