.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.projectSidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--dark-accent);
  max-width: 320px;
}

.projectContent {
  flex: 1;
}


